<!-- HTML Template -->
<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<div class="index">
			<form id="loginForm" role="form" action="#">
			  <div class="form-group">
			    <label for="username">Username</label>
			    <input type="email" class="form-control" id="username" placeholder="Enter Username">
			  </div>
			  <div class="form-group">
			    <label for="password">Password</label>
			    <input type="password" class="form-control" id="password" placeholder="Enter Password">
			  </div>
			  <button type="submit" id="register" class="btn btn-primary">Login</button>
			</form>
		</div>
	</div>
	<div class="col-md-4"></div>
</div>