{{#if renderForListView}}
  <div class="well well-sm">
    <small>Submitted by <a href="#users/{{author}}">{{author}}</a> {{formatDate postDate}}</small> 
    <h3>
      <a href="#blogposts/{{id}}">{{normL title}}</a>
    </h3>
    {{normL content}}
  </div>
{{else}}
<div class="panel panel-default">
	<div class="panel-heading">
    <h4>
      <strong>{{title}}</strong>
    </h4>
    <h6>
      <a href="#users/{{author}}">{{author}}</a> - {{formatDate postDate}}
    </h6>
    	
	</div>
  	<div class="panel-body">
  		{{content}}
  	</div>
  	<div class="panel-footer">
      <div id="commentContainer"></div>
      <div class="form-group"id="comment">
        <textarea  class="form-control" type="text" placeholder="Comment"></textarea>
      </div>
        <button type="submit" id="commentSubmit" class="btn btn-xs btn-primary">Comment</button>
      
    </div>
	{{#if admin}}
	<button class="btn btn-xs btn-primary edit-post">Edit</button>
  <button class="btn btn-xs btn-danger delete-post">Delete</button>
	{{/if}}
</div>
{{/if}}