{{#if renderForListView}}
  <div class="well well-sm">
    <small>Submitted by <a href="#users/{{user_id}}">{{username}}</a> {{formatDate postDate}}</small> 
    <h3>
      <a href="#blogposts/{{id}}">{{normL title}}</a>
    </h3>
    {{normL content}}
  </div>
{{else}}
<div class="panel panel-default">
	<div class="panel-heading">
    {{#if alterable}}
    <div class="pull-right">
      <span class="glyphicon glyphicon-edit edit-post" style="cursor:hand; cursor:pointer;"></span>
      <span class="glyphicon glyphicon-remove delete-post" style="cursor:hand;cursor:pointer;"></span>
    </div>
    {{/if}}
    <h4>
      <strong>{{title}}</strong>
    </h4>
    <h6>
      <a href="#users/{{user_id}}">{{username}}</a> - {{formatDate postDate}}
    </h6>

	</div>
  	<div class="panel-body">
  		{{content}}
      <div>
      	<!-- {{#if alterable}}
      	<a class="edit-post">edit</a>
        <a class="delete-post">delete</a>
      	{{/if}} -->
      </div>
    </div>
    <div class="panel-footer">
      <div id="commentContainer"></div>
      <div class="form-group"id="new-comment">
        <textarea  class="form-control" type="text" placeholder="Comment"></textarea>
      </div>
        <button type="submit" id="commentSubmit" class="btn btn-xs btn-primary">Comment</button>
      
    </div>
</div>
{{/if}}