<!-- HTML Template -->
<div class="row">
	<div class="col-md-1">
		{{#if acceptableAsAnswer}}
			{{#if accepted_answer}}
			<span class="glyphicon glyphicon-ok"></span>
			{{else}}
			<button type="button" data-comment-id="{{_id}}" class="btn btn-default btn-xs accept-answer">Accept
			</button>
			{{/if}}
		{{/if}}
	</div>
	<div class="col-md-11">
		<small><a href="#users/{{user_id}}">{{username}}</a> - {{formatDate commentDate}}</small><br/>
		<div id="comment-container">
			
			{{content}}
			{{#if alterable}}
				<a class="edit-comment">edit</a>
				<a class="delete-comment">delete</a>
			{{/if}}
		</div>
		
	</div>
</div>

	