<!-- HTML Template -->
<!-- <div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<div class="index">
			<div class="error-field"></div>
			<form id="loginForm" role="form" action="#">
			  	<div class="form-group">
			   	<label for="username">Username</label>
			    	<input type="text" class="form-control" id="username" placeholder="Enter Username">
			  	</div>
			  	<div class="form-group">
			   	<label for="password">Password</label>
			    	<input type="password" class="form-control" id="password" placeholder="Enter Password">
			  	</div>
			  	<button type="submit" id="login" class="btn btn-lg btn-primary" data-bypass>Login</button>
			</form>
		</div>
	</div>
	<div class="col-md-4"></div>
</div>
 -->
<!-- <div id="root" style="width: 320px; margin: 40px auto; padding: 10px; border-style: dashed; border-width: 1px;">
    embeded area
</div>
<script src="https://cdn.auth0.com/w2/auth0-widget-4.0.min.js"></script>
<script>
	
  var widget = new Auth0Widget({
        domain:         'app25772746.auth0.com',
        clientID:       'kJk7T528ulbkoiEHXt8GbM15DgegseXq',
        callbackURL:    'http://localhost:2000/callback'
  });
  

  widget.signin({ container: 'root', chrome: true, scope: 'openid profile' });
</script> -->

<div id="root" style="width: 320px; margin: 40px auto; padding: 10px;">
    embeded area
</div>
<script src="https://cdn.auth0.com/w2/auth0-widget-4.0.min.js"></script>
<script>
	
  var widget = new Auth0Widget({
        domain:         'app25772746.auth0.com',
        clientID:       'kJk7T528ulbkoiEHXt8GbM15DgegseXq',
        callbackURL:    'http://localhost:2000/callback',
        showSignUp: true,
        enableReturnUserExperience: true
  });
  
  widget.signin({ container: 'root', chrome: true, scope: 'openid profile' });
  // widget.signup({ container: 'root', chrome: true, scope: 'openid profile' });
</script>

<!-- <button onclick="auth0.show()">Login</button>

<script src="https://d19p4zemcycm7a.cloudfront.net/w2/auth0-widget-1.2.1.min.js"></script>

<script type="text/javascript">
var auth0 = new Auth0Widget({
  domain:       'app25772746.auth0.com',
  clientID:     'kJk7T528ulbkoiEHXt8GbM15DgegseXq',
  callbackURL:  'http://localhost:2000/callback'
});

// parse the response and store the token in a cookie (or local storage)
auth0.parseHash(window.location.hash, function (profile, id_token) {
	console.log('parseHash', 'profile', profgil)
  $.cookie('profile', profile);
  $.cookie('id_token', id_token);
});
</script>
 -->