<!-- HTML Template -->
<h3>Add a new trivia question</h3>


Pour le titre, écrivez votre description de la scène. Vous pouvez ajouter des indices pour aider les gens à trouver le film. Ceux-ci n'apparaîtrong que si l'on clique dessus.
<form style="display:none;" role="form" id="add-trivia-form">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" placeholder="Enter Title">
  </div>
</form>
<button role="button" id="add-hints" class="btn btn-large btn-default" style="display:none;">Add Hints</button>
<button role="button" id="trivia-btn" class="btn btn-large btn-default">Add Trivia Question</button>
<a id="trivia-hide-btn"  style="display:none;" class="">Hide Form</a>


<h3>
	Browse Existing trivias
</h3>
<div id="triviaContainer">
	
</div>
