{{#if renderForListView}}
	<h3>
		<a href="#trivia/{{id}}">{{normL title}}</a>
	</h3>
	<small>Submitted by <a href="#users/{{username}}">{{username}}</a> on {{formatDate triviaDate}}</small>	

{{else}}

<h3>
	<small><a href="#/users/{{username}}">{{username}}</a></small> - <small>{{formatDate triviaDate}}</small>	
	{{normL title}}
  {{#if can_alter}}
  <div class="pull-right">
    <span class="glyphicon glyphicon-edit" id="edit-trivia" style="cursor:hand; cursor:pointer;"></span>
    <span class="glyphicon glyphicon-remove" id="remove-trivia" style="cursor:hand;cursor:pointer;"></span>
  </div>
  {{/if}}
</h3>
<div class="panel panel-default">	
  	<div class="panel-body">
  		{{#each hints}}
  		<button type="button" id="tooltip-btn" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="top" data-content="{{hint}}">
  		Show Hint
		</button>
			
		{{/each}} 
  	</div>
  	<div class="panel-footer">
      <div id="commentContainer"></div>
      <div id="comment">
        <textarea placeholder="Comment" style="resize:none; width:100%;"></textarea>
      </div>
      <button id="commentSubmit" class="btn btn-xs btn-primary">Comment</button>
    </div>
{{/if}}
