{{#if partialRender}}
	<h3>
		<a href="#trivia/{{id}}">{{normL title}}</a>
	</h3>
	<small>Submitted by <a href="#users/{{author}}">{{author}}</a> on {{formatDate triviaDate}}</small>	

{{else}}

<h3>
	<small><a href="#/users/{{author}}">{{author}}</a></small> - <small>{{formatDate triviaDate}}</small>	
	{{normL title}}
</h3>
<div class="panel panel-default">	
  	<div class="panel-body">
  		{{#each hints}}
  		<button type="button" id="tooltip-btn" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="top" data-content="{{hint}}">
  		Show Hint
		</button>
			
		{{/each}} 
  	</div>
  	<div class="panel-footer">
  		<div id="comment">
  			<textarea placeholder="Comment" style="resize:none; width:100%;"></textarea>
  		</div>
      <button id="commentSubmit" class="btn btn-xs btn-primary">Comment</button>
      <div id="commentContainer"></div>
    </div>
{{/if}}
